#nav.row.fourteen.columns
  %a{:href => "/#"} 
    %img{:src=> "/images/small-logo.png" }
  %ol  
    %li.two.columns SORTUJ:
    %a(href="#/osoby")  
      %li.two.columns OSOBY
    %a(href="#/odleglosc")  
      %li.two.columns ODLEGŁOŚĆ 
    %a(href="#/alfabetycznie")  
      %li.two.columns ALFABETYCZNIE 
  #clear{:class => "clearfix"}


#sidebar
  #title Ostatnie wydarzenia
  #last
#map.row.fourteen.columns
  #map_canvas{:style => "width:500px; height:200px;"}
  %ol
  %button{:onclick => "show()"} Pokaż
  %button{:onclick => "usun()"} Usuń
  #clear{:class => "clearfix"}

#pubs.row
  #clear.clearfix

