!!!
%html
  %head
    %title= "Pubtraffic"
    %meta{ :charset => "UTF-8" }
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}    
    %link{:href => "css/base.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/layout.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/skeleton.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{ :href => "css/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    - ['https://maps.googleapis.com/maps/api/js?key=AIzaSyA3zeZ1jGql_896zfjBWWE8gA_8CEtw00U&sensor=true', 'http://js.pusher.com/1.12/pusher.min.js', '//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js', 'app.js', 'js/google-maps.js', 'js/sammy.js', 'js/routes.js'].each do |js|
      %script{:src => "#{js}", :type => 'text/javascript', :charset => 'utf-8'}
    :javascript
      try{
      Typekit.load();
      }
      catch(e){}
      
  %body{:onload => "initialize()"}
    #navigation
      %a{:id => "notification"}
    #clear{:class => "clearfix"}
    #container{:class => "container"}
      #content  
        =yield
    #footer
      %p This is the footer.
